.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    padding-bottom:20px ;
    margin: 20px;
}

.image-prod{
    width: 220px;
    height: 230px;
}