.product-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-details-home-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    margin-top: 290px;
    margin-bottom: 50px;
}

  /* left container */
.product-left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.image-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.image-cont-collum{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mini-image{
    width: 147px;
    height: 147px;
    margin: 2px;
}

.larg-image{
    width: 550px;
    height: 600px;
}

/* rigth container */
.product-rigth-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 39%;
}

.product-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding-left: 20px;
    margin-top: 0;
    padding-top: 0;
}

.price-design{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.product-item-description{
    font-size: 17px;
    font-weight: 500;
    color: #000;
    width: 100%;
}
.item-description{
    font-size: 15px;
    font-weight: 500;
    color: #464040;
}
.price-item-desc{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
.price-underline{
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 500;
    color: #000;
}
.price-green{
    font-size: 17px;
    font-weight: 500;
    color: rgb(22, 145, 22);
}
.best-seller-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFEDF7;
    padding: 10px;
    width: 90%;
}
.item-color-descrp{
    font-size: 14px;
    font-weight: 500;
    color: #60f;
}
.pink-background{
    background-color: #CC0F99;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 2px;
    border-radius: 8px;
    padding: 3px;
}

.buttom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin-top: 20px;
}

.addtocart{
    width: 45%;
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: transparent;
}
.bluebackground{
    background-color: blue;
    margin-left: 0;
    font-size: 17px;
}

.blackbackground{
    color: #000;
    margin-right: 0;
    font-size: 17px;
}

.garenty-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.pincode-dis-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.pincode-dis{
    font-size: 14px;
    font-weight: 500;
    font-family: AqleemaM;
    color: #312727;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}