.empaty-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.empaty-container-home{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 260px;
}

.add-card-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
}

.add-card-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #fff;
    margin-top: 290px;
}

.pincode-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #E9ECED;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
}

.input-con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-item{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding-left: 10px;
}

.cart-image{
    width: 180px;
    height: 160px;
}

.add-to-cart-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.item-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 10px;
}

.item-details-con{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    padding-left: 20px;
}

.price-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.modifiy-des{
    font-size: 15px;
    margin-top: 0;
    padding-top: 0;
}

.remove-button{
    font-size: 15px;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    padding-right: 10px;
}

.procec-to-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: fixed;
    top:92%;
    background-color: #fff;
    height: 60px;
}

.total-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
}

.price{
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.process-to-pay-btn{
    background-color: #6600FF;
    width: 300px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
}